.foodCommunity{
    text-align: center;
    margin:4rem 0;
    font-size: larger;
}
.foodCommunity h2 span {
  
    background: linear-gradient(red,yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
   
}
.foodCommunity h2  {
  font-weight: 800;
   margin-bottom: 2rem;
   color: #fffFFF;
   font-size: 3rem;
}
.foodCommunity p  {
    color: #fff;
  }
.CommunityRecipe{
    display: flex;flex-direction: column;

    justify-content: center;
    align-items: center;
    gap:3rem;
    margin: auto;
    text-align: center;
}
.CommunityRecipe img{
width: 27%;
height: 50%;
object-fit: cover;
border-radius: 8px;
margin-bottom: 1rem;

}
.CommunityRecipe p{
font-size: large;  
font-size: 1rem;
font-style:oblique;
color: #fff;
font-weight: 800;
}
.CommunityRecipe h3{
   font-weight: 800;
   font-size: 2rem;
   color: #fff;
    }

    @media (max-width:410px) {

       .CommunityRecipe{
        width:90%;
        display: flex;flex-direction: column;

        justify-content: center;
        align-items: center;
        gap:1rem;
        margin: auto;
        text-align: center;

       }

       .foodCommunity{
        text-align: center;
        margin:2rem 0;
        font-size: larger;
    }
        }

        @media (max-width:900px) {

            .CommunityRecipe{
             width:90%;
             display: flex;flex-direction: column;
     
             justify-content: center;
             align-items: center;
             gap:1rem;
             margin: auto;
             text-align: center;
     
            }
     
            .foodCommunity{
             text-align: center;
             margin:2rem 0;
             font-size: larger;
         }
             }